<h1>Homepage</h1>

<% @categories.each do |category| %>
  <% if category.articles.any? %>
    <h2><%= category.title %></h2>
    <% category.articles.limit(3).each do |article| %>
      <div class="article-item">
        <%= link_to article.title, article_path(article) %>
        <div class="article-content">
          <%= truncate article.content, length: 300 %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>


